 <!-- Declaração do tipo de documento -->
<html lang="en"> <!-- Declaração do idioma da página (inglês) -->
<head>
    <meta charset="UTF-8"> <!-- Declaração da codificação de caracteres -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Declaração da viewport para dispositivos móveis -->
    <title>Numeros de 1 a 100 divisiveis por 7 e por 5</title> <!-- Título da página exibido na aba do navegador -->
</head>
<body>
    <h1 s>
        Numeros de 1 a 100 divisiveis por 7 e por 5
    </h1> <!-- Título principal da página -->
    <div id="resultado">
        {% if resultado %}
        <p>
            {{ resultado }} <br>
        </p>
        {%endif%}
    </form>
    </div>
</body>
</html>